*{
	box-sizing: border-box;
	margin: 0px;
	padding:0px;
}
h1{
	text-align: center;
}
div{
	width:100px;
	height:25px;
	border:1px lightgreen solid;
	text-align: center;
	float:right;
	background-color: #90aa90;

}
.container{
	background-color: black;

}
section.col-md-4.col-sm-6{
	margin: 5px;
	border:1px white solid;
}
section.col-md-4.col-md-12{
	margin: 5px;
	border: 1px white solid;

}
p{
	clear: both;
}